In [ ]:
# Map function : used to apply a function to each item in an iterable(like a ; list,tuple, etc.)
# can be used with regular funct, lambda funct, multiple iterables
# map(function,iterable) ;

#function

def square_1(num):
    return num*num
square_1(2)

4

In [ ]:
# iterable
numbers=[1,2,3,4,5,6]

# map
list(map(square_1,numbers))

[1, 4, 9, 16, 25, 36]

In [14]:
# lambda function with map
num1=[1,2,3,4]
num2=[5,6,7,8]

data= list(map(lambda x,y:x+y,num1,num2)) 
print(data)

[6, 8, 10, 12]

In [ ]:
# map() to convert a list of strings to integers

str_numbers = ['1','2','3','4']
int_numbers = list(map(int,str_numbers))
print(int_numbers)

[1, 2, 3, 4]

In [17]:
words= ['apple','mango','banana']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'MANGO', 'BANANA']

In [22]:
# printing all the names from list of dictionaries

def get_name(person):
    return person['name']

person=[
    {'name':'kevin','age':23},
    {'name':'john','age':27},
    {'name':'hart','age':19}
]
list(map(get_name,person))

['kevin', 'john', 'hart']