In [150]:
## Dictionaries
# Dictionaries are - Mutable , so we can add or delete or update elements from dict

personal={
    "name":"Thameem" ,
    "age":19 ,
    "weight": 43 ,
}

student = dict(name="Thameem",grade="A",rank=12)

In [151]:
# Accessing
print(personal["name"])
print(personal["age"])
print(personal["weight"])

# using get() method 

print(student.get("name"))
print(student.get("last_name", "Not available")) # giving output when accessing element not present in dict

Thameem
19
43
Thameem
Not available

In [152]:
empty_dict=dict()
empty_dict

{}

In [153]:
# Length of a dict : number of keys value pairs
print(len(student))

3

In [154]:
personal_details = dict(name= "Thameem",age=19,weight=43)
print(personal_details.get("name"))

Thameem

In [155]:
# Modifying dictionaries

Data =dict(name="john",age=23,college_dropout=True,height=1.6)
print(Data)

{'name': 'john', 'age': 23, 'college_dropout': True, 'height': 1.6}

In [156]:
Data["name"]="nick"
print(Data["name"])
Data["age"]=25
print(Data["age"])
print(Data)
del Data["height"]

nick
25
{'name': 'nick', 'age': 25, 'college_dropout': True, 'height': 1.6}

In [157]:
print(Data) # height removed

{'name': 'nick', 'age': 25, 'college_dropout': True}

In [158]:
# Dictionary methods 

print(student)
key=student.keys()
print(key)

valuess=student.values()
print(valuess)

items=student.items()
print(items)

{'name': 'Thameem', 'grade': 'A', 'rank': 12}
dict_keys(['name', 'grade', 'rank'])
dict_values(['Thameem', 'A', 12])
dict_items([('name', 'Thameem'), ('grade', 'A'), ('rank', 12)])

In [159]:
# copy of dictionaries

student_copy =student
print(student_copy)

{'name': 'Thameem', 'grade': 'A', 'rank': 12}

In [160]:
student["name"]="Muhammed Thameem Pp"

In [161]:
print(student_copy)

{'name': 'Muhammed Thameem Pp', 'grade': 'A', 'rank': 12}

In [162]:
# shallow copy : Provides a different memory location
student_copy1=student.copy()
print(student_copy1)

{'name': 'Muhammed Thameem Pp', 'grade': 'A', 'rank': 12}

In [163]:
student["name"] ="Thameempp"

In [164]:
print(student)
print(student_copy1)

{'name': 'Thameempp', 'grade': 'A', 'rank': 12}
{'name': 'Muhammed Thameem Pp', 'grade': 'A', 'rank': 12}

In [165]:
# Iterating over dictionaries
# over keys
for keys in student.keys():
    print(keys)

name
grade
rank

In [166]:
# over values
for values in student.values():
    print(values)

Thameempp
A
12

In [167]:
# over items 
for items in student.items():
    print(items)

('name', 'Thameempp')
('grade', 'A')
('rank', 12)

In [168]:
# Another method 
for key,values in student.items():
    print(f"{key}:{values}")

name:Thameempp
grade:A
rank:12

In [169]:
# Nested dictionaries
studentzz ={
    "student1":{"name":"peter","age":29},
    "student2":{"name":"nick","age":19},

}
print(studentzz)

{'student1': {'name': 'peter', 'age': 29}, 'student2': {'name': 'nick', 'age': 19}}

In [170]:
# Accessing nested dictionaries
print(studentzz["student1"]["name"])
print(studentzz["student2"]["name"])

peter
nick

In [171]:
# iterating over nested dictionaries
for students_id,students_info in studentzz.items():
    print(f"{students_id}:{students_info}")
    for key,values in students_info.items():
        print(f"{key}:{values}")

student1:{'name': 'peter', 'age': 29}
name:peter
age:29
student2:{'name': 'nick', 'age': 19}
name:nick
age:19

In [172]:
# Dictionary comphrehension

squares={x:x**2 for x in range(8)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [173]:
  # condition dictionary comprehension
evens ={x:x**2 for x in range(5) if x%2 ==0}
print(evens)

{0: 0, 2: 4, 4: 16}

In [174]:
# Practical Examples

# Use dictionary to count the frequency of elements in list
numberr=[1,2,2,3,4,5,5,6,6,6]
frequency={}

for number in numberr:
    if number in frequency:
          frequency[number]+=1
    else:
         frequency[number]=1
         
    
print(frequency)

{1: 1, 2: 2, 3: 1, 4: 1, 5: 2, 6: 3}

In [175]:
# merged dict 
dict1={"a":1,"b":2,"c":3}
dict2={"b":6,"c":7,"d":8}
merg_dict={**dict1,**dict2}  # the  ** in **dict1,**dict2 is called key word argument   
print(merg_dict)

{'a': 1, 'b': 6, 'c': 7, 'd': 8}