In [ ]:
my_set ={1,2,3,4,5,6,}
print(type(my_set))
print(my_set)

In [ ]:
empty_set=set([1,2,3])
print(type(empty_set))
print(empty_set)

In [ ]:
## sets stores collection of unique elements (do not allow dublicates ). & unordered (do not follow specific order)
new_set={1,2,3,4,3,4,5,6,6,7,1,2,}
print(new_set)

In [ ]:
# Basic set operations 
setA={1,2,3,4,5}
setB={6,7,8,9,10}

In [ ]:
# Adding and Removing elements
setA={1,2,3,4,5}
setA.add(11)
print(setA)

setA={1,2,3,4,5}
setA.remove(5)
print(setA)

setA={1,2,3,4,5}
setA.discard(11) # discard : able to remove an element if it is present 
print(setA)

setA={1,2,3,4,5}
setA.discard(12)
print(setA)

In [ ]:
# pop method
setA.pop()
print(setA)

In [ ]:
# clear all the elements
setA.clear()
print(setA)

In [ ]:
# Set membership test. : testing a number that present in a set or not   (True when it is present)
setA={1,2,3,4,5}
print(3 in setA )
print(12 in setA)

In [ ]:
# Mathematical operation  
setA={1,2,3,4,5}
setB={6,7,8,9,10}

# 1.union 
# 2.intersection 
# 3.intersection_update  (take intersection first then update to main set)
# 4.Difference (removing common elements)  and  difference_update
#    set1.difference(set2).  and    set2.difference(set1)
# 6.Symmetric difference of sets
# 7.set methods :   subset , superset
# 8.removing dublicate elements from a list using set
# 9.counting unique words in text

In [ ]:
# union 
setA.union(setB)

In [ ]:
# intersection
setB.union(setA)

In [ ]:
setA1={1,2,3,4,5}
setB1={4,5,6,7,8,9,10}

setA1.intersection_update(setB1) # taking common , updating the set 
print(setA1)

In [ ]:
print(setA1) # updated setA1

In [ ]:
# Difference of 2 sets    ; elements in setA not in setB

# difference = Use when you want to find elements that are present in one set exclusively and not in another.
# For example, finding customers who bought product A but not product B.

# difference_AB =  set_A - set_B
 
setA={1,2,3,4,5,6,7}
setB={2,6,7,8,9,10}
setA.difference(setB) #. elements in setA not in setB

In [ ]:
setA.difference_update(setB) # updated

In [ ]:
print(setA) # updated setA
print(setB) # setB not updated that means setA only updates : " setA ".difference(setB)

In [ ]:
# symmetric difference of sets 

# Symmetric Difference: Use when you want to find elements that are unique to either set effectively -
#     excluding any common elements. 

# For example, finding students who are enrolled in either a Math class or a Physics class, but not both.

# setA ^ setB.     or    setA.symmetric_difference(setB)


setA={1,2,3,4,5,6,7}
setB={4,5,6,7,8,9,10}

setA.symmetric_difference(setB) # removes common elements

In [ ]:
# subset and superset
set1 ={1,2,3,4,5,6}
set2 ={2,3,4}

print(set2.issubset(set1)) 
print(set1.issubset(set2))
print(set1.issuperset(set2))
print(set2.issuperset(set1))

In [ ]:
# list to set 
lst=[1,2,3,3,4,5,6,6,7]
set(lst)

In [ ]:
# counting unique words in text 
text = " counting unique words in text "
words =text.split()
unique_words=set(words)
print(unique_words)
print(len(unique_words))