In [ ]:
## Empty tuple
tpl=()
print(type(tpl))

In [ ]:
numbers =tuple([1,2,3,4,5,6,7,8])
numbers

In [ ]:
list((1,2,3,4))

In [ ]:
## mixed tuple
mix_tuple = (7,"rock",3.14,True)
print(mix_tuple)

In [ ]:
## Acccessing Tuple Elements
numbers

In [ ]:
numbers[3]

In [ ]:
print(numbers[2])
print(numbers[-3])

In [ ]:
numbers[::]

In [ ]:
numbers[2:]

In [ ]:
numbers[:2]

In [ ]:
## Tuple operations
concatenation_tuple = numbers + mix_tuple
print(concatenation_tuple)

In [ ]:
mix_tuple * 2

In [ ]:
numbers * 3

In [ ]:
# list (mutable) 
lst =[1,2,3,4]
print(lst)

In [ ]:
lst[2] = "three"
print(lst)

In [ ]:
# Tuple (immutable)
numbers

In [ ]:
numbers[2]="three"  #output : TypeError: 'tuple' object does not support item assignment

In [ ]:
# tuple can be mutable by changing tuple to list then it will be mutable 

#my_tuple = (1,2,3,4,'a','b')
#my_list= list(my_tuple)
#print(my_list)