[arn]	Returns a match where one of the specified characters (a, r, or n) is present	
[a-n]	Returns a match for any lower case character, alphabetically between a and n	
[^arn]	Returns a match for any character EXCEPT a, r, and n	
[0123]	Returns a match where any of the specified digits (0, 1, 2, or 3) are present	
[0-9]	Returns a match for any digit between 0 and 9	
[0-5][0-9]	Returns a match for any two-digit numbers from 00 and 59	
[a-zA-Z]	Returns a match for any character alphabetically between a and z, lower case OR upper case	
[+]	In sets, +, *, ., |, (), $,{} has no special meaning, so [+] means: return a match for any + character in the string

In [2]:
import re
import warnings
warnings.filterwarnings('ignore')

In [38]:
# [a-zA-Z]
txt="Machine learning"

Q=re.findall("[a-zA-Z]",txt)
print(Q)

['M', 'a', 'c', 'h', 'i', 'n', 'e', 'l', 'e', 'a', 'r', 'n', 'i', 'n', 'g']

In [ ]:
# [arn]
txt="Machine learning"

a=re.findall("[ach]",txt)
print(a)
if a:
    print("ys there is a match")
else:
    print("no match")

['a', 'c', 'h', 'a']
ys there is a match

In [ ]:
# [a-n] =>  lowercase , alphabetically between a and n
txt="Machine learning"

b=re.findall("[a-n]", txt)
print(b)

['a', 'c', 'h', 'i', 'n', 'e', 'l', 'e', 'a', 'n', 'i', 'n', 'g']

In [ ]:
# [^arn] => characters except a,r,n
txt="Machine learning"

c=re.findall("[^arn]", txt)
print(c)

['M', 'c', 'h', 'i', 'e', ' ', 'l', 'e', 'i', 'g']

In [11]:
# [0123]
txt="Machine learning"
txt1="0Machine123 learning456"
txt2="0Machine123 learning49"

d=re.findall("[0123]",txt)   # output -> [] ; because there is no numbers included in this string
e=re.findall("[0123]",txt1)
f=re.findall("[012789]",txt2)

print(d)
print(e)
print(f)

[]
['0', '1', '2', '3']
['0', '1', '2', '9']

In [17]:
# [0-9]
txt2="0Machine123 learning49"

g=re.findall("[0-9]",txt2)
print(g)

['0', '1', '2', '3', '4', '9']

In [37]:
# [0-5][0-9] => Returns a match for any two-digit numbers from 00 and 59	
txt2="0Machine123 learning49 35"

h=re.findall("[0-5][0-9]",txt2) # 00 -> 59
i=re.findall("[0-4][0-8]",txt2) # 00 -> 48
j=re.findall("[0-3][0-3]",txt2) # 00 -> 33
k=re.findall("[0-1][0-2][0-5]",txt2) # any three-digit numbers from 000 and 125

print(h)
print(i)
print(j)
print(k)

['12', '49', '35']
['12', '35']
['12']
['123']

In [1]:
# [+]
text = "a+b c-d e+f"

pattern = r"[+]"
matches = re.findall(pattern, text)

print(matches)  # ['+', '+']

['+', '+']

In [4]:
print("regex done")

regex done